/*-----------------
        RESET
------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;  
}

/*-----------------
        COMMON
------------------*/

img{
    width: 100%;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.container{
    margin: auto;
    max-width: 1200px;
}


/*-----------------
        COMMON
------------------*/




/*-----------------
        HEADER
------------------*/

header{
    padding-left: 150px;
    height: 80px;
    background-color: black;
}

.logo img{
    width: 50px;
    height: 50px;
}

/*-----------------
        HEADER
------------------*/


/*-----------------
        MAIN
------------------*/
main{
    height:calc(100vh - 80px);
    background-color:#1d2d3c;
}



.row{
    padding-top: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    
}


.col{
    position: relative;
    width:calc(100% / 3 - 100px ) ;
    margin: 30px 50px;
    background-color: #112030;
    padding: 35px;
    padding-top: 15px;
    padding-bottom: 30px;
    border-radius: 8px;
    transition: 0.3s;
   
}

.image img{
    transition: 0.6s ease-in-out;
    opacity: 0.6;
    
}

.player{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -40px;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
}

.text{
    margin-top: 10px;
    text-align: center;
    color: white;

}

.image{
    
    overflow: hidden;
}

.text h4 {
    margin: 10px 0;
}

.col:hover img{
    transform: scale(1.1);
    opacity: 1;
}

.col:hover .player{
    display: flex;
}

/*-----------------
        MAIN
------------------*/