<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Dischi-json</title>
    

</head>
<body>
    <div id="app">
        <header class="d-flex align-items">
            <div class="logo">
                <img src="img/logo-small.svg" alt="">
            </div>
        </header>

        <main>
            <div class="container">

                <div class="row d-flex">

                    <div class="col" v-for="disco in dischi" >
                        <div class="image">
                            <img :src="disco.poster" alt="">
                        </div>
                        <div class="text">
                            <h3 class="title">{{ disco.title }}</h3>
                            <h4 class="author" >{{ disco.author }}</h4>
                            <h3 class="genre">{{ disco.year }}</h3>
                        </div>
                    </div>
                     
                </div>
            </div>
        </main>

        <!-- <ul>
            <li v-for="disco in dischi"> 
                <h3>{{ disco.title }}</h3>
            </li>
        </ul> -->
    </div>


    <script src="js/main.js"></script>
</body>
</html>